#template configuration file for THM video post-processing

[filetypes]
input = ".mov",".MOV",".mp4",".MP4",".mxf",".MXF",".vob",".VOB",".mpg",".MPG"

[ingest]
HM_interviews = 
special_collections = 

[fileDestinations]
thmfs01 = 
thmfs01copyto = 
xendata = 
xendatacopyto = 
loc = 

[email]
recipientlist =
senderaddress =
senderpwd =
server =
debug = 

[logs]
logs_path =

[mediaconch]
input_policies_dir =
mp4_pcm_policy =
pcm_in_file_policy =
accepted_video_codecs_policy =

[filemaker]
user =
pwd =
